li {
    font-size: 1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: teal;
}

p {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}

input {
    width: 60%;
    height: 15vh;
    font-size: 1.1rem;
    margin: 0 auto;
}

button {
    width: 50%;
    height: 15vh;
    border-radius: 5%;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align: center ;
}

.cont {
    display: none;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);  
    background: radial-gradient(circle, black 0%, transparent 100%);
    align-self: center;
}

.content {
    color: white;
    display: flex;
    justify-self: center;
    align-items: center;
}

.button2 {
    margin-top: 2rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;   

}

@media (min-width: 321px) and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    input {
        width: 70%;
        height: 9vh;
    }

    button {
        width: 60%;
        font-size: 1.3rem;
        height: 9vh;
    }

    li, p {
        font-size: 1.3rem;
    }

}

@media (min-width: 601px) and (max-width: 768px) {
     h1 {
        font-size: 2.7rem;
    }

    input {
        width: 70%;
        height: 10vh;
    }

    button {
        width: 60%;
        font-size: 2rem;
        height: 10vh;
    }

    li, p {
        font-size: 2rem;
    }
}


@media (min-width: 769px) and (max-width: 900px) {
    h1 {
        font-size: 2.7rem;
    }

    input {
        width: 70%;
        height: 10vh;
    }

    button {
        width: 60%;
        font-size: 2rem;
        height: 10vh;
    }

    li, p {
        font-size: 2rem;
    } 
}

@media (min-width: 901px) and (max-width: 1280px) {
    h1 {
        font-size: 4rem;
    }

    input {
        width: 80%;
        height: 12vh;
        font-size: 2rem;
    }

    button {
        width: 60%;
        font-size: 2rem;
        height: 10vh;
    }

    li, p {
        font-size: 2rem;
    } 
}


